/*! HTML5 Boilerplate v8.0.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.1.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
  /* here it goes the custom style for the profession class for Firefox browser*/
  .profession {
    width: -moz-fit-content;
    display: block;
    margin: 10px 0 20px;
    margin-left: auto;
    text-transform: capitalize;
    position: relative;
    padding: 10px 20px;
    color:#8C274C;
    z-index: 2;
  }

  /* here it goes the regular style*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
  scroll-behavior: smooth;
}

body {
  width: 100%;
  position: relative;
  font-size: 1em;
  font-family: 'Open Sans', sans-serif;
  background: #8C274C;
  color: #F2F0F0;
}

ul,
ol {
  list-style-type: none;
}

a {
  color: #F2F0F0;
  text-decoration: none;
  font-size: 14px;
  text-transform: capitalize;
}

h1 {
  color: #F2F0F0;
  font-family: 'Lora', serif;
  font-size: 2.5rem;
  font-weight: 500;
  text-transform: capitalize;
}

.highlight {
  color: #51E0AC;
}

h2 {
  color: #F2F0F0;
  font-family: 'Lora', serif;
  font-size: 1.75rem;
  font-weight: 500;
  text-transform: capitalize;
}

h3 {
  font-size: 1.5rem
}

h4 {
  font-size: 1.25rem;
}

h3,
h4 {
  font-family: 'Lora', serif;
}

p {
  color: #F2F0F0;
  font-size: 1rem;
  line-height: 1.285;
}

img {
  width: 100%;
}

figure {
  margin: 0;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  background:#8C274C;
  margin: 0;
  width: 100%;
}


/* ------------------------ Main Section ---------------------------------- */
/* home section */
.home {
  width: 100%;
  min-height: calc(100vh - 60px);
  height: auto;
  margin-top: 60px;
  padding: 0 10vw;
  height: fit-content;
  padding-bottom: 50px;
}

.hero-content {
  text-align: center;
}

.home-image {
  width: 250px;
  margin: 40px;
  border-radius: 10px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.25);
}

.profession {
  width: fit-content;
  display: block;
  margin: 10px 0 20px;
  margin-left: auto;
  text-transform: capitalize;
  position: relative;
  padding: 10px 20px;
  color:#8C274C;
  z-index: 2;
}

.profession::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background:#E0D9D8;
  z-index: -1;
  transform: skewX(10deg);
}

.profession::after {
  content: '';
  position: absolute;
  top: 0;
  left: -100px;
  width: 100px;
  height: 2px;
  background: #E0D9D8;
}

.info {
  line-height: 1.5rem;
  font-size: 1rem;
  margin-bottom: 50px;
}

.btn {
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 50px;
  background:#51E0AC;
  color:#8C274C;
  text-transform: capitalize;
  border: none;
  font-weight: bold;
}

/*  -------------------- portfolio --------------------------  */
#project-section {
  text-align: center;
}
.portfolio {
  padding: 110px 10vw;
}

.portfolio .project-wrapper {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-flow: row wrap;
}

.heading {
  text-align: center;
  font-weight: 500;
  font-size: 1.75rem;
  text-transform: capitalize;
}

.seperator {
  width: 25%;
  margin: 20px auto;
  position: relative;
}

.seperator::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background: #F2F0F0;
}

.seperator::after {
  content: '';
  position: absolute;
  bottom: 2px;
  left: 0;
  width: 100%;
  height: 1px;
  background: #F2F0F0;
}

.project-piece {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.project-piece figure {
  width: 90%;
  margin: 20px 0 40px 0;
  border-radius: 10px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.25);
}

h3 {
  text-align: center;
  margin: 0 0 40px 0;
}

.project-description {
  width: 100%;
  text-align: left;
  line-height: 1.5rem;
  margin: 0 0 30px 0;
}

span {
  font-weight: bold;
  text-align: left;
}

.project-link {
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 50px;
  background:#51E0AC;
  color:#8C274C;
  text-transform: capitalize;
  border: none;
  margin: 40px 0 60px 0;
  font-weight: bold;
}

/*  --------------------- about ------------------------  */
.about {
  height: auto;
  padding: 50px 10vw;
  width: 100%;
}

.heading {
  text-align: center;
  font-weight: 500;
  font-size: 1.75rem;
  text-transform: capitalize;
}

.sub-heading {
  text-align: center;
  font-size: 1rem;
  margin: 10px;
  opacity: 0.7;
}

.about-item {
  margin: 40px 0 100px;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
}

.left-column,
.right-column {
  position: relative;
}

.about-heading {
  font-size: 1.75rem;
  line-height: 1.5;
  margin: 40px 0 40px 0;
}
 
.about h4 {
  font-size: 1.25rem;
  font-weight: 400;
  margin: 0 0 40px 0;
}

.about-paragraph {
  font-size: 1rem;
  font-weight: 300;
  margin-bottom: 40px;
  line-height: 1.5;
}

.about-image {
  margin: 15px;
  width: 90%;
  border-radius: 10px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.25);
}

.skill-container {
  position: relative;
  margin-top: 110px;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 20px;
}

.skill-card {
  height: 200px;
  border-radius: 10px;
  border: 1px solid #F7B0CF;
  text-align: center;
  position: relative;
  cursor: pointer;
  transition: .5s;
}

.skill {
  font-size: 1.25rem;
  color:#F7B0CF;
  line-height: 200px;
}

.skill-card:hover {
  background: var(--background);
}

.skill-card:hover .skill {
  color: #F2F0F0;
}

/* --------------------- footer ----------------------*/
footer {
  display: flex;
  justify-content: center;
  text-align: center;
  flex-flow: row wrap;
  padding: 80px 10vw;
}

footer .contact-wrapper {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: flex-start;
}

footer .contact-info {
  width: 60%;
  margin: 0 0 60px 0;
}

.contact-title {
  margin: 40px 0 40px 0;
  line-height: 1.5;
  width: 100%;
}

footer .follow-section {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

footer .social-icons {
  display: flex;
  justify-content: space-around;
}

footer .social-icons li {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer .social-icons li i {
  font-size: 1.875rem;
  color:#51E0AC;
}

footer p {
  line-height: 1.5;
}

/* styles for the header */

@media only screen and (max-width: 996px) {

  .navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background: #8C274C;
    padding: 0 10vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 9;
  }
  
  /* toggle btn */
  .toggle-btn {
    position: absolute;
    width: 40px;
    height: 40px;
    right: 10vw;
    cursor: pointer;
  }

  .toggle-btn span {
    position: absolute;
    width: 100%;
    height: 2px;
    background: #F2F0F0;
    top: 30%;
    transition: .5s;
  }

  .toggle-btn span:nth-child(2) {
    top: 70%;
  }

  .toggle-btn.active span:nth-child(1) {
    top: 50%;
    transform: rotate(45deg);
  }

  .toggle-btn.active span:nth-child(2) {
    top: 50%;
    transform: rotate(-45deg);
  }

/* links */
  .links-container {
    position: absolute;
    top: 60px;
    background: #8C274C;
    width: 100%;
    left: 0;
    padding: 0 10vw;
    flex-direction: column;
    transition: .5s;
    opacity: 0;
    pointer-events: none;
  }

  .links-container.show {
    opacity: 1;
    pointer-events: all;
  }

  .link {
    margin-left: auto;
    text-align: center;
    display: block;
    height: 50px;
  }
}


@media only screen and (min-width: 768px) {
  /* tablet styles here */

  /*home section*/
  
  .hero-content {
    min-width: 350px;
    text-align: center;
  }

  .hero-heading {
    font-size: 4.5rem;
  }


  /* portfolio section */
  #project-section {
    width: 100%;
    padding-top: 80px;
  }

  .content-wrapper {
    max-width: 640px;
  }

  .portfolio .heading {
    margin: 0 0 60px 0;
    font-size: 2rem;
  }

  .project-wrapper {
    justify-content: space-around;
  }

  .project-piece {
    width: 45%;
    align-items: center;
  }

  .portfolio h3 {
    font-size: 1.25rem;
    font-weight: bold;
  }

  .project-description {
    margin: 0 0 30px 0;
    width: 95%;
  }

  /* about section */
  .about-item {
    grid-template-columns: 1fr;
  }

  .left-column {
    margin: auto;
    width: 50%;
    min-width: 320px;
  }

  .skill-container {
    grid-template-columns: repeat(2, 1fr)
  } 

  .skill-card {
    grid-column: 1 span !important;
  }

  /* footer */
  footer {
    padding: 140px 0;
  }

  footer .contact-wrapper {
    display: flex;
    justify-content: space-between;
    max-width: 640px;
  }

  footer .contact-info {
    width: 33%;
    margin: 80px 0;
  }

  .heading {
    font-size: 2rem;
  }

  .contact-title {
    margin: 0 0 30px 0;
    font-weight: 400;
    font-size: 1.5rem;
  }
}


@media screen and (min-width: 1024px) {
  /* desktop styles here */

  /*
  .content-wrapper {
    max-width: 1400px;
  }
*/

/*header */
  .navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background: #8C274C;
    padding: 0 10vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 9;
  }

  .logo {
    color: #F2F0F0;
    font-size: 22px;
    text-transform: uppercase;
  }

  .links-container{
    display: flex;
    list-style: none;
  }

  .link {
    text-transform: capitalize;
    color: #F2F0F0;
    text-decoration: none;
    margin: 0 10px;
    padding: 10px;
    position: relative;
  }

  .link:hover:not(.active) {
    opacity: 0.7;
  }

  .link.active::before,
  .seperator::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background: #F2F0F0;
  }

  .link.active::after,
  .seperator::after {
    content: '';
    position: absolute;
    bottom: 2px;
    left: 0;
    width: 100%;
    height: 1px;
    background: #F2F0F0;
  }

/* home section */
  .home {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
  }

  .hero-content {
    width: 50%;
  }

  .hero-heading {
    font-size: 4.5rem;
    text-transform: capitalize;
    font-weight: 500;
  }

/* project section */
  #project-section {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-flow: row wrap;
    padding-top: 80px;
  }

  .content-wrapper {
    max-width: 1450px;
  }

  h3 {
    margin: 0 0 40px 0;
  }

  .project-wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-flow: row wrap;
  }

  .project-piece {
    width: 45%;
  }

  .project-piece figure {
    width: 90%;
    margin: 20px 0 40px 0;
  }

  h3 {
    font-size: 1.25rem;
    margin: 0 0 40px 0;
  }

  .project-description,
  p span {
    font-size: 1.2rem;
    line-height: 1.5;
    margin: 0 0 30px 0;
    text-align: left;
  }

/* about */
  .heading {
    font-size: 2.5rem;
  }

  .seperator {
    width: 25%;
    margin: 20px auto;
    position: relative;
  }

  .about-item {
    margin: 100px 0 100px;
    display: grid;
    grid-template-columns: 40% 60%;
    grid-gap: 50px;
  }

  .left-column, 
  .right-column {
  position: relative;
  }

  .about-heading {
    font-size: 2.25rem;
    text-align: left;
  }
 
  .about h4 {
    font-size: 1.75rem;
    margin: 40px 0;
    text-align: left;
  }

  .about-paragraph {
    font-size: 1.2rem;
    line-height: 35px;
  }

  .skill-container {
    position: relative;
    margin-top: 100px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
  }

  .skill {
    font-size: 1rem;
  }


/* footer */
  footer #contact-section {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-flow: row wrap;
  }

  footer .content-wrapper {
    max-width: 70%;
  }

  #contact h2 {
    margin-bottom: 60px;
  }

  h2 {
    font-size: 2.5rem;
  }

  footer .contact-wrapper {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: flex-start;
  }

  footer .contact-info {
    width: 33%;
    margin: 80px 0 80px 0;
  }

  .contact-title {
    margin: 0 0 30px 0;
  }

  h4 {
    font-family: 'Lora', serif;
    width: 100%;
    line-height: 1.5;
  }

  footer .follow-section {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
  }

  footer .social-icons {
    width: 12.5em;
    justify-content: space-between;
  }
}



























/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .sr-only class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: " ";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
   * Printing Tables:
   * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
   */
  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}

